doctype html
html
	head
		title Litro
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic")
		link(rel="stylesheet" href="style/main.min.css")
	body

		#wrapper
			section.container
				.logo
					a(href="index.html")
						img(src="/img/assets/Litro-logo-sign.svg")

				ul.main-nav
					li
						a(href="index.html" class="about-link") На главную

			section.gallery

				ul#imageGallery
					li
						a(href="img/gallery/01.jpg")
							img(src="img/gallery/01.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/02.jpg")
							img(src="img/gallery/02.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/03.jpg")
							img(src="img/gallery/03.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/04.jpg")
							img(src="img/gallery/04.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/05.jpg")
							img(src="img/gallery/05.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/06.jpg")
							img(src="img/gallery/06.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/07.jpg")
							img(src="img/gallery/07.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/08.jpg")
							img(src="img/gallery/08.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/09.jpg")
							img(src="img/gallery/09.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/10.jpg")
							img(src="img/gallery/10.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/11.jpg")
							img(src="img/gallery/11.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/12.jpg")
							img(src="img/gallery/12.jpg", alt="Интерьер Litro", width="400" title="Интерьер Litro" )
					li
						a(href="img/gallery/13.jpg")
							img(src="img/gallery/13.jpg", alt="Хумус из запечённого перца с овощами и киноа", width="400" title="Хумус из запечённого перца с овощами и киноа" )
					li
						a(href="img/gallery/14.jpg")
							img(src="img/gallery/14.jpg", alt="Фаттуш с ростбифом", width="400" title="Фаттуш с ростбифом" )
					li
						a(href="img/gallery/15.jpg")
							img(src="img/gallery/15.jpg", alt="Бургер из рубленной говядины", width="400" title="Бургер из рубленной говядины" )
					li
						a(href="img/gallery/16.jpg")
							img(src="img/gallery/16.jpg", alt="Запеченный сибас с овощами", width="400" title="Запеченный сибас с овощами" )
					li
						a(href="img/gallery/17.jpg")
							img(src="img/gallery/17.jpg", alt="Каталанский крем", width="400" title="Каталанский крем" )
					li
						a(href="img/gallery/18.jpg")
							img(src="img/gallery/18.jpg", alt="Крокеты из утки", width="400" title="Крокеты из утки" )
					li
						a(href="img/gallery/19.jpg")
							img(src="img/gallery/19.jpg", alt="ЛИСТЬЯ РОМАНО С ПРЯНОЙ ЗАПРАВКОЙ ПАРМЕЗАНОМ И КРОКЕТАМИ ИЗ ИНДЕЙКИ", width="400" title="ЛИСТЬЯ РОМАНО С ПРЯНОЙ ЗАПРАВКОЙ ПАРМЕЗАНОМ И КРОКЕТАМИ ИЗ ИНДЕЙКИ" )
					li
						a(href="img/gallery/20.jpg")
							img(src="img/gallery/20.jpg", alt="Паста Карбонара", width="400" title="Паста Карбонара" )
					li
						a(href="img/gallery/21.jpg")
							img(src="img/gallery/21.jpg", alt="Рубленная форель с огурцами", width="400" title="Рубленная форель с огурцами" )
					li
						a(href="img/gallery/22.jpg")
							img(src="img/gallery/22.jpg", alt="Салат Нисуаз", width="400" title="Салат Нисуаз" )
					li
						a(href="img/gallery/23.jpg")
							img(src="img/gallery/23.jpg", alt="Спагетти с вонголе", width="400" title="Спагетти с вонголе" )
					li
						a(href="img/gallery/24.jpg")
							img(src="img/gallery/24.jpg", alt="Страчателла с помидорами", width="400" title="Страчателла с помидорами" )
					li
						a(href="img/gallery/25.jpg")
							img(src="img/gallery/25.jpg", alt="Фиш & Чипс", width="400" title="Фиш & Чипс" )
					li
						a(href="img/gallery/26.jpg")
							img(src="img/gallery/26.jpg", alt="Брускетта с ростбифом", width="400" title="Брускетта с ростбифом" )
					li
						a(href="img/gallery/27.jpg")
							img(src="img/gallery/27.jpg", alt="Брускетты с анчоусами", width="400" title="Брускетты с анчоусами" )
					li
						a(href="img/gallery/28.jpg")
							img(src="img/gallery/28.jpg", alt="Буррата с помидорами и клубникой", width="400" title="Буррата с помидорами и клубникой" )
					li
						a(href="img/gallery/29.jpg")
							img(src="img/gallery/29.jpg", alt="Брускетты с сыром и помидорами", width="400" title="Брускетты с сыром и помидорами" )

			.contacts
				ul.address
					li
						a(href="https://yandex.ru/maps/213/moscow/?mode=search&text=Большая%20Грузинская%2C%2069&sll=37.620393%2C55.753960&sspn=1.189270%2C0.458485&ll=37.586086%2C55.773975&z=16" target='_blank') Адрес: Большая Грузинская, 69
					li 
						a(href="tel:+79263823822") Телефон: +7 (926) 382-38-22

					p Подпишитесь на наши социальные сети:
			.footer.container
					ul.social
						li
							a(href="https://www.facebook.com/LITROgastrobar/" target="_blank").f-icon
						li
							a(href="https://www.instagram.com/litrobar/" target="_blank").i-icon
script(src="js/main.min.js")