doctype html
html
	head
		title Litro
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic")
		link(rel="stylesheet" href="style/main.min.css")
	body

		#wrapper
			section.container
				.logo
					a(href="index.html")
						img(src="/img/assets/Litro-logo-sign.svg")

				ul.main-nav
					li
						a(href="#" class="about-link") О нас
					li
						a(href="gallery.html" class="gallery-link") Галерея
					br
					li
						a(href="/img/LITRO_menu_summer 06 2017.pdf" target="_blank") Основное меню
					li
						a(href="/img/Litro-Bar-card-03-2017.pdf" target="_blank") Барная карта
					li
						a(href="/img/LITRO-wine-card-05-2017.pdf" target="_blank") Винная карта

			section.about
				p.
					LITRO – демократичное винное место с коротким меню, которое обновляется на регулярной основе. В винной карте большая подборка вин по бокалам – 38 позиций. А благодаря системе coravin можно заказать бокал любого вина из карты. Фишкой ресторана являются литровые декантеры по очень доступным ценам. Например, тут можно заказать литр Кьянти за 1900 рублей, а бокал вина от 340 рублей.
				p.
					Интерьер ресторана разработан студией Romb design & interiors. Дизайн LITRO простой, но с яркими акцентами. В отделке используются натуральные материалы, спокойные цвета, мягкие формы, чтобы гости чувствовали себя максимально уютно и при этом испытывали необычные ощущения под сенью из 8 км джутовых лиан и огоньков, свисающих с потолка. Гармоничным продолжением заполненного светом зала является открытая кухня. Ресторан работает без барной контактной стойки, но с наличием коктейлей в меню
				p.
					Меню ресторана гармонично дополняет винную карту, а вино – еду. Блюда Тараса, в основном, это интерпретации мировых трендов, современные технологии и богатый опыт работы шефа и его команды. Большой выбор закусок и регулярно обновляющийся раздел основных блюд – уже узнаваемый подчерк шефа. 
				p.
					Винная карта, разработанная Ларисой Мамедовой совместно с Владой Лесниченко, насчитывает порядка 200 наименований, начиная от вин российских производителей, заканчивая супертосканскими и модными органическими и биодинамическими винами. Подборка вин удовлетворит запросы как экспертов, так и тех, кто делает первые шаги в познании вин. Более чем доступные цены, большой выбор вин по бокалам и литровые бутылки, вкупе с интересным меню просто обязаны сделать LITRO излюбленным местом московской публики. В ресторане представлена уникальная вертикальная коллекция рейтингового вина LITRA. 
				p.
					Акции и новости:
					В будни с 12:00 до 16:00 действует обеденное меню за 590 рублей.
				p.
					По воскресенья скидка 50% на всё вино по бутылкам.

			.contacts
				ul.address
					li
						a(href="https://yandex.ru/maps/213/moscow/?mode=search&text=Большая%20Грузинская%2C%2069&sll=37.620393%2C55.753960&sspn=1.189270%2C0.458485&ll=37.586086%2C55.773975&z=16" target='_blank') Адрес: Большая Грузинская, 69
					li 
						a(href="tel:+79263823822") Телефон: +7 (926) 382-38-22

					p Подпишитесь на наши социальные сети:
			.footer.container
					ul.social
						li
							a(href="https://www.facebook.com/LITROgastrobar/" target="_blank").f-icon
						li
							a(href="https://www.instagram.com/litrobar/" target="_blank").i-icon
script(src="js/main.min.js")